{% extends 'base.html' %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            loadTweetContainer("tweet-container");
        });

    </script>
{%  endblock scripts %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {%  if request.GET.q %}
                <p class="lead">Resultados para{{ Request.GET.q }}</p>
                <hr />
            {% endif %}
        </div>
        <div class="col-sm-9 col-sm-offset-2">
            <h1>
                Tweets
            </h1>
            <hr />

            <div id="tweet-container" data-url="/api/tags/{{ object.tag }}">

            </div>
            <a href="#" id="loadmore">Cargar más tweets</a>
        </div>
    </div>
{% endblock content %}
