{% extends 'base.html' %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            loadTweetContainer("tweet-container");
        });

    </script>
{%  endblock scripts %}

{% block content %}
    <div class="row">
        <div class="col-sm-3  col-xs-12">
            <h1>
                <a href="/{{request.user.username}}">{{ request.user.username }}</a>
            </h1>
            <hr /
            <p> Seguidores: {{ object.followed_by.count }}</p>
            <p>
                <a class="btn btn-link" href="{{ object.profile.get_follow_url }}">
                    {% if following %}
                        Dejar de seguir
                    {% else %}
                        Seguir
                    {% endif %}

                </a>
            </p>

            <hr />
            <h1>Siguiendo a <small>{{ object.profile.get_following.count }}</small>:</h1>
            {% for user in object.profile.get_following %}
                <a href="/{{ user.username }}">{{ user.username }}</a> <br/>
            {% empty %}
                <h4>En este momento no sigues a nadie.</h4>
            {% endfor %}

            <hr />
            <h1>Te siguen: </h1>
            {% for profile in object.followed_by.all %}
                <a href="/{{ profile.user.username }}">{{ profile.user.username }}</a><br/>
            {% empty %}
                <h4>En este momento nadie te sigue.</h4>
            {% endfor %}
        </div>
        <div class="col-sm-9 col-xs-12">
            <h1>Tweets</h1>


            <div id="tweet-container" data-url='/api/{{ object.username }}/tweet/'>

            </div>
            <a href="#" id="loadmore">Cargar más tweets</a>


        </div>
    </div>
{% endblock content%}